@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";

}

<hgroup>
    <h2 class="text-error">An error occurred while processing your request.</h2>
    @if (ViewBag.ErrorMessage != null)
    {
        <h2>@ViewBag.ErrorMessage</h2>
    }
</hgroup>
