/*img {
    vertical-align: inherit;
}*/
.circle2 {
    margin-right: 5px;
    height: 1px;
    width: 10px;
    left: 0px;
    top: -1px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #fff;
    transition: all 0.3s;
}

tr td img {
    max-width: 250px;
    min-width: 100px;
    max-height: 250px;
    min-height: 100px;
    margin: auto;
    border: 3px solid #2c2424;
}

