@{
    ViewBag.Title = "Registration Success";
}
<h2>@ViewBag.Title</h2>
<p class="text-info">
    You have successfully registered your Account with Sentra.
</p>
<p class="text-danger">
    Return to the @Html.ActionLink("Home Page", "Index", "Home")
</p>
